body {
  font-family: "Lora", serif;
  background-color: #000;
}

h1,
h2,
h3 {
  font-family: "Zen Old Mincho", serif;
  font-weight: 700;
  color: #ca4343;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 120%;
  padding: 20px;
}

/*trouver en inspectant la page*/

a:-webkit-any-link {
  color: #ca4343;
  cursor: pointer;
  text-decoration: underline;
  line-height: 160%;
  padding: 10px;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 30px;
  margin-left: 20px;
}

nav {
  font-size: 15px;
  padding: 10px;
  line-height: 130%;
  padding-left: 10px;
}

section {
  font-size: 15px;
  line-height: 135%;
  margin-left: 20px;
  margin-right: 10px;
  color: #ffff;
}

p {
  font-size: 15px;
  line-height: 130%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

li {
  font-size: 15px;
  line-height: 120%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 20px;
}

footer {
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
  color: #ffff;
}
